<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/administrator_style.css">

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
<div class="head" style="background-image: url(../images/bg_3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <form action="" class="white_block">
                <legend>Setting</legend>
                <ul class="style">
                    <li><a href="/addNewServicePage">Add new Service</a></li>
                    <li><a href="/selectServices">Services</a></li>
                    <li><a href="/">Exit</a></li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>