<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/connect_style.css">

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title>Enter</title>
</head>
<body>
<div class="row">
    <form action="/conect_admin" method="post">
        <div>
            <label for="login" class="title">Логин</label>
            <input type="text" id="login" name="login" maxlength="30" minlength="3"/>
        </div>
        <div>
            <label for="password" class="title">Пароль</label>
            <input type="password" id="password" name="password" minlength="2" maxlength="10"/>
        </div>
        <button style="margin-right: 10px;float: right; width: 130px;">Подтвердить</button>
    </form>
</div>
</body>
</html>